*{
	font-family: "Roboto", sans-serif;
	margin:0;
	padding: auto;
	text-decoration: none;
	
}

/*--------------header---------------*/
.header {
	width: 100%;
	background-color: #A5B099;
}

.header_top {
	margin: 0px 0px 1px 0px;
	width: 100%;
	 
	background-color: #fafafa;
	align-items: center;
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
}


	.header_top p {
		color: black;
		padding-left: 20px;
	}

	.header_top img {
		padding-left: 80px;
	}

	.header_top .login {
		margin-left: 60%;
		text-decoration: none;
		display: flex;
		gap: 15px;
	}

		.header_top .login p {
			color: black;
		}

		.header_top .login a {
			color: black;
		}

			.header_top .login a.TrangDangNhap {
				padding-right: 25px;
			}


.header_bot {
	 
	padding-left: 80px;
	background-color: #171717;
	align-items: center;
	display: flex;
}

	.header_bot .icon {
		display: none;
	}

	.header_bot ul {
		margin: auto;
		padding: 0px;
	}

		.header_bot ul li {
			list-style: none;
			float: left;
		}

#selected {
	color: red;
}

.header_bot ul li a {
	text-decoration: none;
	display: block;
	/*height: 40px;*/
	line-height: 100px;
	color: white;
	padding: 0px 15px 0px 15px;
}

	.header_bot ul li a:hover {
		background-color: #C89979;
		color: white;
	}



.main{
	font-size: 20px;
	margin: 0;
	margin-top: 50px;
	padding: 0;
	display:flex;
}
.anh {
	margin: 10px 0px 0px 60px;
	float: left;
	height:600px;
	width: 500px;
	margin-right:5%;
}
.anh img {
	width: 500px;
	max-height:600px;
}
.content{
	float:left;
	margin-top: 4%;
	position: relative;
	float: right;
	width:60%;
	
}
	.content b {
		color: #19ce96;
	}

.header-content{
	padding-bottom: 15px;
	padding-top: 15px;
}

.themvaogio {
	margin-top: 70px;
	width: 221px;
	height: 52px;
	background-color: #19ce96;
	border: none;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
}
hr{
	border: none;
}



/*------------Footer-------------*/
.footer {
	float: left;
	margin-top: 20px;
	width: 100%;
	background-color: black;
}

	.footer .footer_top {
		 
		margin: 0px 0px 70px 0px;
		width: 100%;
		display: flex;
	}


		.footer .footer_top .footer-section:first-child {
			width: 350px;
			float: left;
			padding-left: 450px;
		}

		.footer .footer_top .footer-section h1 {
			margin: 60px 0px 30px 40px;
			font-size: 17px;
			color: #19ce96;
		}

		.footer .footer_top .footer-section ul li {
			text-decoration: none;
			list-style: none;
			font-weight: 600;
			margin: 10px 0px 0px 40px;
		}

			.footer .footer_top .footer-section ul li a {
				font-size: 13px;
				color: #908fa9;
				line-height: 1.5;
			}



.footer_bot {
	width: 100%;
	height: 20px;
	color: #fafafa;
	text-align: center;
	padding-bottom: 50px;
}